// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@green: #1BFF17;

body {
    background: @green;
    color: black;
}

textarea{
  background: black;
  color: white;
}
