<h1>Chat Room</h1>

<form ng-submit="sendMessage(newChatMessage)">
    <textarea rows="8" cols="80" ng-model="newChatMessage"></textarea>
    <button tupe="submit">Send</button>
</form>

<div class="feed">
    <div class="controls">
        <div class="creation-date">
            <span ng-click="newestToOldest = !newestToOldest">Creation Date : <i class="glyphicon" ng-class="{'glyphicon-chevron-down': newestToOldest, 'glyphicon-chevron-up': !newestToOldest}" ></i></span>
        </div>
    </div>
    <ul>
        <li ng-repeat="message in messages | orderBy :'creation_date':newestToOldest track by $index">
            <div class="message">
                <div class="meta">
                    <span class="author">{{ message.author.pseudonym }}</span> <span class="date">{{ message.creation_date | date : 'medium'}}</span>
                </div>
                <div class="content">
                    {{ message.content }}
                </div>
            </div>
        </li>
    </ul>
</div>
