<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" ui-sref="user.chat">chat</a>
            <a class="navbar-brand" href="#">{{user.name}}</a>

        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
